:root {
  --poppins: "Poppins", sans-serif;
  --sans: "Open Sans", sans-serif;
  --lightblue: rgb(240, 247, 248);
  --black: #111;
  --lightgrey: rgb(211, 211, 211);
  --blue: rgb(1, 140, 150);
  --transition: all 0.5s ease;
  --darkblue: rgb(56, 29, 107);
  --box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --background: linear-gradient(to right top, #65dfc9, #349faf);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*overide for dark theme*/
body.dark {
  --background: darkgrey;
}
.box-shadow {
  box-shadow: var(--box-shadow);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--sans);
}
body {
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: var(--black);
}
ul li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0.6rem 0;
}
img {
  display: block;
  width: 100%;
}

.py-5 {
  padding: 5rem;
}
.my-2 {
  margin: 2rem 0;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 3rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}
/*navbar*/

.navbar {
  position: fixed;
  background-color: var(--lightblue);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.brand-and-toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.navbar-brand {
  width: 180px;
}
.navbar-toggler {
  cursor: pointer;
  transition: var(--transition);
  font-size: 2rem;
  font-weight: 800;
}
.navbar-collapse {
  text-align: center;
  transition: var(--transition);

  height: 0;
  overflow: hidden;
}
.nav-item {
  padding: 0.5rem;
  position: relative;
}
.nav-link:hover {
  opacity: 0.8;
}
.nav-item::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--black);
  height: 3px;
  width: 0;
  border-radius: 5px;
  transition: var(--transition);
}
.nav-item:hover::after {
  width: 50px;
}
.nav-link {
  text-transform: uppercase;
  font-weight: 600;
}

.showNav {
  height: 330px;
}
/*header*/
.home {
  padding: 5rem 0;
  background: var(--background);
}

.header-left,
.header-right {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--lightgrey);
  border-radius: 10px;
  margin: 3rem 0;
  padding: 3rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}
.header-left {
  text-align: center;
}
.header-img {
  position: relative;
}
.header-skills {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header-skill-item {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: var(--blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

.header-right img {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 1rem auto;
  transition: var(--transition);
  animation: zoomOutIn 7s linear infinite;
}
@keyframes zoomOutIn {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

.header-content span {
  color: var(--blue);
}
.header-content h2 {
  margin-bottom: 1.5rem;
}
.header-content a {
  padding: 0.6rem 1.8rem;
  font-weight: 700;

  background-color: var(--blue);
  border-radius: 50px;
}

/*contact*/
.contact {
  background: linear-gradient(to right top, #65dfc9, #349faf);
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  border-radius: 20px;
  border: 2px solid var(--lightgrey);
  padding: 0.5rem;
  margin: 0.5rem 0;
  outline: 0;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--blue);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  text-transform: uppercase;
}
.contact-right {
  margin-top: 2rem;
}
.contact-right h3 {
  text-transform: uppercase;
}
.contact-info {
  display: flex;
  align-items: center;
}
.contact-info span i {
  color: var(--blue);
  font-size: 2.2rem;
}
.contact-info h4 span {
  display: block;
}
.contact-info h4 {
  margin-left: 2rem;
}
.btn {
  color: var(--black);
  background-color: var(--lightblue);
  border-radius: 20px;
  padding: 0.5rem 1.3rem;
  outline: 0;
  border: 2px solid var(--lightblue);
  text-transform: uppercase;
  font-weight: 600;
}
/*footer*/

.footer {
  background-color: var(--lightblue);
  text-align: center;
}
.footer-item:first-child {
  width: 70%;
  margin: 0 auto;
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-links a {
  background-color: var(--blue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  margin: 0.5rem;
}
.footer-item {
  margin: 2rem 0;
}
.footer-item a:hover {
  opacity: 0.6;
}

/*about*/
.about-img img {
  height: 600px;
}

.about-info {
  align-items: center;
}
.about-info p {
  margin-bottom: 1.5rem;
  color: grey;
  font-weight: 400;
}
.about-info .btn-1 {
  padding: 0.6rem 1.5rem;
  background-color: var(--blue);
  border-radius: 50px;
  font-weight: 600;
}
.about-info,
.about-img {
  margin-top: 2rem;
}

/*projects*/
.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.projects-wrapper .projects-filter {
  padding: 0 0.5rem;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
.filter-item {
  display: inline-block;
  padding: 0.3rem;
  border-radius: 30px;
  font-weight: 500;
  margin: 0.5rem;
  transition: all 0.5s ease;
  width: 200px;
  text-transform: uppercase;
  cursor: pointer;
}

.project-items .projects-item .hide {
  display: none;
}
.projects-items .projects-item .show {
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.projects-wrapper .filter-item:hover:not(.active) {
  opacity: 0.6;
}

.projects-item {
  margin: 2rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.projects-item-img {
  position: relative;
}
.projects-item-img img {
  border-radius: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
  padding: 15px;
}
.projects-item-img .view-project {
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  bottom: 5px;
  font-weight: 800;
  transform: translateY(-5px);
  opacity: 0;
  padding-left: 1rem;
}
.projects-item-img:hover .view-project {
  transform: translateY(0px);
  opacity: 1;
}
.projects-item-img:hover img {
  transform: translateY(-20px);
}

.projects-item-title {
  margin: 2rem 1rem;
}
.active-btn {
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 992px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-collapse {
    height: 100%;
  }
  .navbar-nav {
    display: flex;
  }
  .nav-item:last-child {
    margin-right: 2rem;
  }

  /*header*/
  .header-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  /*contact*/
  .contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }
  .form-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
  }
  /*footer*/
  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
  }
  .footer-item:first-child {
    margin-top: 2rem;
  }
  .footer-item:last-child {
    justify-content: flex-start;
  }

  /*about*/
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
  }

  .projects-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
.tes img {
  width: 200px;
}
